@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2 {
	color: #000;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 2.75rem;
}

h2 {
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .5rem;
}

p {
	color: #454545;
	font-size: 0.75rem;
}

li {
	color: #fff;
	cursor: pointer;
}

button {
	cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
